@keyframes jump {

	0%{
		transform: rotateZ(0) rotateY(180deg) translateY(0);
	}
	10%{

		transform: rotateZ(-20deg) rotateY(180deg) translateY(-20px);
	}

	40%{

		transform: rotateZ(-45deg) rotateY(180deg) translateY(-50px);
	}

	50%{

		transform: rotateZ(0deg) rotateY(180deg) translateY(-80px);
	}
	60%{

		transform: rotateZ(45deg) rotateY(180deg) translateY(-60px);
	}
	100%{

		transform: rotateZ(0deg) rotateY(180deg) translateY(0px);
	}

}

.jump{
	transform: rotateY(180deg);
	transform-style: flat;
	animation: jump 2s linear;
	animation-fill-mode: initial;
}