@keyframes parallax {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1200px;
  }
}
@keyframes parallax {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1200px;
  }
}
.clouds,
.ground {
  animation-name: parallax;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-repeat: repeat-x;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-position: 0 0;
}
div[data-direction=stay] > .clouds,
div[data-direction=stay] > .ground {
  animation-play-state: paused;
}

.clouds.level-1 {
  animation-duration: 100s;
  background-image: url(../../assets/parallax/cloud-l1.png);
}
.clouds.level-2 {
  animation-duration: 60s;
  background-image: url(../../assets/parallax/cloud-l2.png);
}

.ground {
  height: 60px;
  bottom: 0;
  top: auto;
  animation-duration: 2s;
  background-image: url(../../assets/parallax/mud.jpg);
}

#sky {
  background-color: #04c9ff;
  width: 800px;
  height: 600px;
  position: absolute;
  overflow: hidden;
}

/*# sourceMappingURL=parallax.css.map */
