$animations: (
		             walk: 12,
		             sprint: 12,
		             run: 13
             );

$spriteHeight: 200px;
$spriteWidth: 400px;
$offset: 0;
#cat {

	width:             $spriteWidth;
	height:            $spriteHeight;
	background-image:  url('../../assets/animations/cat.png');
	background-repeat: no-repeat;

	@each $animation, $iterations in $animations {

		@for $iteration from 0 through ($iterations - 1) {
			&.move[data-direction="#{$animation}"][data-step="#{$iteration}"] {
				background-position-x: - ($spriteWidth * $offset);
				background-position-y: - ($spriteHeight * $iteration );
			}

		}
		$offset: $offset + 1;


	}
}