#cat {
  width: 400px;
  height: 200px;
  background-image: url("../../assets/animations/cat.png");
  background-repeat: no-repeat;
}
#cat.move[data-direction=walk][data-step="0"] {
  background-position-x: 0px;
  background-position-y: 0px;
}
#cat.move[data-direction=walk][data-step="1"] {
  background-position-x: 0px;
  background-position-y: -200px;
}
#cat.move[data-direction=walk][data-step="2"] {
  background-position-x: 0px;
  background-position-y: -400px;
}
#cat.move[data-direction=walk][data-step="3"] {
  background-position-x: 0px;
  background-position-y: -600px;
}
#cat.move[data-direction=walk][data-step="4"] {
  background-position-x: 0px;
  background-position-y: -800px;
}
#cat.move[data-direction=walk][data-step="5"] {
  background-position-x: 0px;
  background-position-y: -1000px;
}
#cat.move[data-direction=walk][data-step="6"] {
  background-position-x: 0px;
  background-position-y: -1200px;
}
#cat.move[data-direction=walk][data-step="7"] {
  background-position-x: 0px;
  background-position-y: -1400px;
}
#cat.move[data-direction=walk][data-step="8"] {
  background-position-x: 0px;
  background-position-y: -1600px;
}
#cat.move[data-direction=walk][data-step="9"] {
  background-position-x: 0px;
  background-position-y: -1800px;
}
#cat.move[data-direction=walk][data-step="10"] {
  background-position-x: 0px;
  background-position-y: -2000px;
}
#cat.move[data-direction=walk][data-step="11"] {
  background-position-x: 0px;
  background-position-y: -2200px;
}
#cat.move[data-direction=sprint][data-step="0"] {
  background-position-x: -400px;
  background-position-y: 0px;
}
#cat.move[data-direction=sprint][data-step="1"] {
  background-position-x: -400px;
  background-position-y: -200px;
}
#cat.move[data-direction=sprint][data-step="2"] {
  background-position-x: -400px;
  background-position-y: -400px;
}
#cat.move[data-direction=sprint][data-step="3"] {
  background-position-x: -400px;
  background-position-y: -600px;
}
#cat.move[data-direction=sprint][data-step="4"] {
  background-position-x: -400px;
  background-position-y: -800px;
}
#cat.move[data-direction=sprint][data-step="5"] {
  background-position-x: -400px;
  background-position-y: -1000px;
}
#cat.move[data-direction=sprint][data-step="6"] {
  background-position-x: -400px;
  background-position-y: -1200px;
}
#cat.move[data-direction=sprint][data-step="7"] {
  background-position-x: -400px;
  background-position-y: -1400px;
}
#cat.move[data-direction=sprint][data-step="8"] {
  background-position-x: -400px;
  background-position-y: -1600px;
}
#cat.move[data-direction=sprint][data-step="9"] {
  background-position-x: -400px;
  background-position-y: -1800px;
}
#cat.move[data-direction=sprint][data-step="10"] {
  background-position-x: -400px;
  background-position-y: -2000px;
}
#cat.move[data-direction=sprint][data-step="11"] {
  background-position-x: -400px;
  background-position-y: -2200px;
}
#cat.move[data-direction=run][data-step="0"] {
  background-position-x: -800px;
  background-position-y: 0px;
}
#cat.move[data-direction=run][data-step="1"] {
  background-position-x: -800px;
  background-position-y: -200px;
}
#cat.move[data-direction=run][data-step="2"] {
  background-position-x: -800px;
  background-position-y: -400px;
}
#cat.move[data-direction=run][data-step="3"] {
  background-position-x: -800px;
  background-position-y: -600px;
}
#cat.move[data-direction=run][data-step="4"] {
  background-position-x: -800px;
  background-position-y: -800px;
}
#cat.move[data-direction=run][data-step="5"] {
  background-position-x: -800px;
  background-position-y: -1000px;
}
#cat.move[data-direction=run][data-step="6"] {
  background-position-x: -800px;
  background-position-y: -1200px;
}
#cat.move[data-direction=run][data-step="7"] {
  background-position-x: -800px;
  background-position-y: -1400px;
}
#cat.move[data-direction=run][data-step="8"] {
  background-position-x: -800px;
  background-position-y: -1600px;
}
#cat.move[data-direction=run][data-step="9"] {
  background-position-x: -800px;
  background-position-y: -1800px;
}
#cat.move[data-direction=run][data-step="10"] {
  background-position-x: -800px;
  background-position-y: -2000px;
}
#cat.move[data-direction=run][data-step="11"] {
  background-position-x: -800px;
  background-position-y: -2200px;
}
#cat.move[data-direction=run][data-step="12"] {
  background-position-x: -800px;
  background-position-y: -2400px;
}

/*# sourceMappingURL=cat.css.map */
