$iterations: 12;
$spriteHeight: 159px;
$spriteWidth: 96px;
$animations: 'front',
             'to-left',
             'to-right',
             'back';

$topStep: 0;
@each $animation in $animations {

	@for $iteration from 0 through ($iterations - 1) {
		.move[data-direction="#{$animation}"][data-step="#{$iteration}"] {
			background-position-x: - ($spriteWidth * $iteration );
			background-position-y: - ($spriteHeight * $topStep );
		}
	}

	$topStep: $topStep +1;
}

#human, #human2 {
	width:             $spriteWidth;
	height:            $spriteHeight;
	background-image:  url('../../assets/animations/human-01.png');
	background-repeat: no-repeat;
}