.move[data-direction=front][data-step="0"] {
  background-position-x: 0px;
  background-position-y: 0px;
}

.move[data-direction=front][data-step="1"] {
  background-position-x: -96px;
  background-position-y: 0px;
}

.move[data-direction=front][data-step="2"] {
  background-position-x: -192px;
  background-position-y: 0px;
}

.move[data-direction=front][data-step="3"] {
  background-position-x: -288px;
  background-position-y: 0px;
}

.move[data-direction=front][data-step="4"] {
  background-position-x: -384px;
  background-position-y: 0px;
}

.move[data-direction=front][data-step="5"] {
  background-position-x: -480px;
  background-position-y: 0px;
}

.move[data-direction=front][data-step="6"] {
  background-position-x: -576px;
  background-position-y: 0px;
}

.move[data-direction=front][data-step="7"] {
  background-position-x: -672px;
  background-position-y: 0px;
}

.move[data-direction=front][data-step="8"] {
  background-position-x: -768px;
  background-position-y: 0px;
}

.move[data-direction=front][data-step="9"] {
  background-position-x: -864px;
  background-position-y: 0px;
}

.move[data-direction=front][data-step="10"] {
  background-position-x: -960px;
  background-position-y: 0px;
}

.move[data-direction=front][data-step="11"] {
  background-position-x: -1056px;
  background-position-y: 0px;
}

.move[data-direction=to-left][data-step="0"] {
  background-position-x: 0px;
  background-position-y: -159px;
}

.move[data-direction=to-left][data-step="1"] {
  background-position-x: -96px;
  background-position-y: -159px;
}

.move[data-direction=to-left][data-step="2"] {
  background-position-x: -192px;
  background-position-y: -159px;
}

.move[data-direction=to-left][data-step="3"] {
  background-position-x: -288px;
  background-position-y: -159px;
}

.move[data-direction=to-left][data-step="4"] {
  background-position-x: -384px;
  background-position-y: -159px;
}

.move[data-direction=to-left][data-step="5"] {
  background-position-x: -480px;
  background-position-y: -159px;
}

.move[data-direction=to-left][data-step="6"] {
  background-position-x: -576px;
  background-position-y: -159px;
}

.move[data-direction=to-left][data-step="7"] {
  background-position-x: -672px;
  background-position-y: -159px;
}

.move[data-direction=to-left][data-step="8"] {
  background-position-x: -768px;
  background-position-y: -159px;
}

.move[data-direction=to-left][data-step="9"] {
  background-position-x: -864px;
  background-position-y: -159px;
}

.move[data-direction=to-left][data-step="10"] {
  background-position-x: -960px;
  background-position-y: -159px;
}

.move[data-direction=to-left][data-step="11"] {
  background-position-x: -1056px;
  background-position-y: -159px;
}

.move[data-direction=to-right][data-step="0"] {
  background-position-x: 0px;
  background-position-y: -318px;
}

.move[data-direction=to-right][data-step="1"] {
  background-position-x: -96px;
  background-position-y: -318px;
}

.move[data-direction=to-right][data-step="2"] {
  background-position-x: -192px;
  background-position-y: -318px;
}

.move[data-direction=to-right][data-step="3"] {
  background-position-x: -288px;
  background-position-y: -318px;
}

.move[data-direction=to-right][data-step="4"] {
  background-position-x: -384px;
  background-position-y: -318px;
}

.move[data-direction=to-right][data-step="5"] {
  background-position-x: -480px;
  background-position-y: -318px;
}

.move[data-direction=to-right][data-step="6"] {
  background-position-x: -576px;
  background-position-y: -318px;
}

.move[data-direction=to-right][data-step="7"] {
  background-position-x: -672px;
  background-position-y: -318px;
}

.move[data-direction=to-right][data-step="8"] {
  background-position-x: -768px;
  background-position-y: -318px;
}

.move[data-direction=to-right][data-step="9"] {
  background-position-x: -864px;
  background-position-y: -318px;
}

.move[data-direction=to-right][data-step="10"] {
  background-position-x: -960px;
  background-position-y: -318px;
}

.move[data-direction=to-right][data-step="11"] {
  background-position-x: -1056px;
  background-position-y: -318px;
}

.move[data-direction=back][data-step="0"] {
  background-position-x: 0px;
  background-position-y: -477px;
}

.move[data-direction=back][data-step="1"] {
  background-position-x: -96px;
  background-position-y: -477px;
}

.move[data-direction=back][data-step="2"] {
  background-position-x: -192px;
  background-position-y: -477px;
}

.move[data-direction=back][data-step="3"] {
  background-position-x: -288px;
  background-position-y: -477px;
}

.move[data-direction=back][data-step="4"] {
  background-position-x: -384px;
  background-position-y: -477px;
}

.move[data-direction=back][data-step="5"] {
  background-position-x: -480px;
  background-position-y: -477px;
}

.move[data-direction=back][data-step="6"] {
  background-position-x: -576px;
  background-position-y: -477px;
}

.move[data-direction=back][data-step="7"] {
  background-position-x: -672px;
  background-position-y: -477px;
}

.move[data-direction=back][data-step="8"] {
  background-position-x: -768px;
  background-position-y: -477px;
}

.move[data-direction=back][data-step="9"] {
  background-position-x: -864px;
  background-position-y: -477px;
}

.move[data-direction=back][data-step="10"] {
  background-position-x: -960px;
  background-position-y: -477px;
}

.move[data-direction=back][data-step="11"] {
  background-position-x: -1056px;
  background-position-y: -477px;
}

#human, #human2 {
  width: 96px;
  height: 159px;
  background-image: url("../../assets/animations/human-01.png");
  background-repeat: no-repeat;
}

/*# sourceMappingURL=human.css.map */
