#obstacle{
    position: absolute;
    left: 100%;
    top: auto;
    bottom: 20px;
    width: 30px;
    height: 80px;
    border: 2px solid black;
    background-color: #888;
    box-sizing: border-box;
}

.collided{
    border: 2px dashed red !important;
}